<div class="card task">
    <div class="card-body">        
        <div class="row pl-1 pr-1">
            <div class="col-2">
                <div class="row">
                    Task id: {{ task.id }}
                </div>
                <div class="row">
                    Status: {{ task.status }}
                </div>
            </div>
            <div class="col-9">
            {{ task.description }}
            </div>
            <div class="col-1 p-1">
                <div class="row">
                    <button (click)="deleteThisTask(task.id)" class="btn btn-light">
                        <i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
                <div class="row">
                    <button (click)="editThisTask(task.id)" class="btn btn-light">
                        <i class="fas fa-pencil-alt"></i></button>
                    </div>
            </div>
        </div>
    </div>
</div>
